Repository Scille/parsec-cloud, pull requests merged in 2020-11, with the labels that each got.

#1441 macOS version
  .azure-pipelines.yml
  .gitignore
  newsfragments/1441.feature.rst
  packaging/macOS/launch_script.py
  packaging/macOS/macos_pyinstaller.sh
  packaging/macOS/my_hooks/hook-pendulum.py
  packaging/macOS/parsec.spec
  parsec/core/gui/forms/central_widget.ui
  parsec/core/gui/parsec_application.py
  parsec/core/gui/tr/parsec_en.po
  parsec/core/gui/tr/parsec_fr.po
  parsec/core/mountpoint/fuse_runner.py
  parsec/core/mountpoint/manager.py
  parsec/core/resources/parsec.icns
  setup.py
  tests/backend/test_postgres_db.py
  tests/core/mountpoint/test_base.py
  tests/core/mountpoint/test_file_failures.py
  tests/core/mountpoint/test_file_operations.py
Labels: blackhole, macos

#1585 Make OSXFUSE download link clickable in GUI
  newsfragments/1585.misc.rst
  parsec/core/gui/custom_dialogs.py
  parsec/core/gui/tr/parsec_en.po
  parsec/core/gui/tr/parsec_fr.po
Labels: macos

#1572 MacOS packaging
  newsfragments/1572.misc.rst
  packaging/macOS/README.md
  packaging/macOS/entitlements.plist
  packaging/macOS/launch_script.py
Labels: macos

#1586 Show version in macos app
  newsfragments/1586.empty.rst
  packaging/macOS/parsec.spec
Labels: macos

#1589 [GUI] Add a warning when a user choses their password
  newsfragments/525.feature.rst
  parsec/core/gui/forms/password_choice_widget.ui
  parsec/core/gui/tr/parsec_en.po
  parsec/core/gui/tr/parsec_fr.po
  tests/core/gui/test_create_organization.py
Labels: gui

#1581 Adding backend option to enforce https
  docs/hosting_server.rst
  newsfragments/1466.feature.rst
  parsec/backend/app.py
  parsec/backend/cli/run.py
  parsec/backend/config.py
  parsec/core/types/backend_address.py
  tests/backend/http/test_http.py
  tests/backend/http/test_http_router.py
  tests/common.py
  tests/conftest.py
Labels: enhancement
