Repository Scille/parsec-cloud, pull requests merged in 2024-07, with the labels that each got.

#7661 bump MarkupSafe version from 2.1.1 to 2.1.5
  server/poetry.lock
Labels: A-Server

#7686 Bump urllib3 from 2.0.7 to 2.2.2 in /docs
  docs/poetry.lock
Labels: I-Dependency, I-Python

#7683 Bump pre-commit hooks
  .pre-commit-config.yaml
Labels: I-CICD, I-Dependency

#7685 Bump certifi from 2023.7.22 to 2024.7.4 in /server
  server/poetry.lock
Labels: I-Dependency, I-Python

#7703 Rename dev docs files for consistency
  docs/development/design-functional-architecture.md
  docs/development/design-workspace-fs-architecture.md
  docs/development/glossary-EN.md
  docs/development/glossary-FR.md
  docs/development/guide-development-workflow.md
  docs/development/guide-release-parsec.md
  docs/development/guide-test-sequester.md
  docs/development/how-to-add-a-rpc-cmd.md
  docs/development/how-to-debug-github-actions.md
  docs/development/how-to-generate-blob.md
  docs/development/how-to-simple-benchmark.md
Labels: A-Docs

#7712 Fix typo in organization create dialog title
  client/src/locales/en-US.json
  client/src/locales/fr-FR.json
Labels: C-GUI, A-Client

#7834 Update installation instructions on user guide
  docs/adminguide/installation.rst
  docs/locale/fr/LC_MESSAGES/adminguide/installation.po
  docs/locale/fr/LC_MESSAGES/userguide/index.po
  docs/locale/fr/LC_MESSAGES/userguide/installation.po
  docs/userguide/index.rst
  docs/userguide/installation.rst
  docs/userguide/screens/macfuse_download.png
Labels: A-Docs

#7839 Fix headers in PO files
  docs/README.md
  docs/locale/fr/LC_MESSAGES/adminguide/freeze_users.po
  docs/locale/fr/LC_MESSAGES/adminguide/index.po
  docs/locale/fr/LC_MESSAGES/adminguide/installation.po
  docs/locale/fr/LC_MESSAGES/adminguide/stats_organization.po
  docs/locale/fr/LC_MESSAGES/adminguide/stats_server.po
  docs/locale/fr/LC_MESSAGES/architecture.po
  docs/locale/fr/LC_MESSAGES/cryptography.po
  docs/locale/fr/LC_MESSAGES/index.po
  docs/locale/fr/LC_MESSAGES/introduction.po
  docs/locale/fr/LC_MESSAGES/roles.po
  docs/locale/fr/LC_MESSAGES/userguide/index.po
  docs/locale/fr/LC_MESSAGES/userguide/installation.po
  docs/locale/fr/LC_MESSAGES/userguide/new_device.po
  docs/locale/fr/LC_MESSAGES/userguide/new_organization.po
  docs/locale/fr/LC_MESSAGES/userguide/new_user.po
  docs/locale/fr/LC_MESSAGES/userguide/recovery_device.po
  docs/locale/fr/LC_MESSAGES/userguide/revoke_user.po
  docs/locale/fr/LC_MESSAGES/userguide/share_data.po
  docs/locale/fr/LC_MESSAGES/userguide/troubleshooting.po
  docs/locale/fr/LC_MESSAGES/userguide/workspace_offline_mode.po
Labels: A-Docs
