Repository Scille/parsec-cloud, pull requests merged in 2025-03, with the labels that each got.

#9962 Bump sqlx and libsqlite3-sys
  Cargo.lock
  Cargo.toml
  libparsec/crates/platform_storage/src/native/workspace.rs
Labels: I-Dependency, I-Rust

#10009 add fastapi middleware to process SPA router
  server/parsec/asgi/__init__.py
Labels: enhancement, A-Server, A-Web

#10036 fix --cors-allow-origins server cli option
  server/parsec/cli/run.py
Labels: A-Server
