Repository Scille/parsec-cloud, pull requests merged in 2025-06, with the labels that each got.

#10423 docs(serialization_format): Explain why we use the list form over map for fields
  libparsec/crates/serialization_format/README.md
Labels: A-Docs, I-Rust

#10476 feat(libparsec): Add `AccountDeletionToken`
  libparsec/crates/types/src/token.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/ids.pyi
  server/src/lib.rs
  server/src/token.rs
Labels: I-Python, I-Rust, A-Client, A-Server

#10479 feat(libparsec): Add `ParsecAccountDeletionAddr`
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/tests/unit/addr.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/addrs.pyi
  server/src/addrs.rs
  server/src/lib.rs
Labels: I-Python, I-Rust, A-Client, A-Server

#10478 docs(changelog): Add note about first release of parsec-web
  HISTORY.rst
Labels: A-Docs, A-Web

#10550 Add Ruff pyupgrade rules
  .cspell/custom-words.txt
  make.py
  misc/gen_protocol_typings.py
  misc/license_headers.py
  misc/lint_sql.py
  misc/releaser.py
  misc/version_updater.py
  server/parsec/_parsec_pyi/addrs.pyi
  server/parsec/_parsec_pyi/certif.pyi
  server/parsec/_parsec_pyi/manifest.pyi
  server/parsec/_parsec_pyi/testbed.pyi
  server/parsec/api.py
  server/parsec/asgi/administration.py
  server/parsec/asgi/rpc.py
  server/parsec/backend.py
  server/parsec/cli/__init__.py
  server/parsec/cli/options.py
  server/parsec/cli/testbed.py
  server/parsec/cli/utils.py
  server/parsec/components/events.py
  server/parsec/components/invite.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/events.py
  server/parsec/components/memory/factory.py
  server/parsec/components/postgresql/__init__.py
  server/parsec/components/postgresql/events.py
  server/parsec/components/postgresql/factory.py
  server/parsec/components/postgresql/handler.py
  server/parsec/components/postgresql/invite.py
  server/parsec/components/postgresql/organization_update.py
  server/parsec/components/postgresql/sequester_export.py
  server/parsec/components/postgresql/utils.py
  server/parsec/components/raid5_blockstore.py
  server/parsec/components/realm.py
  server/parsec/components/user.py
  server/parsec/joinable_task.py
  server/parsec/logging.py
  server/parsec/realm_export.py
  server/parsec/sequester_export_reader.py
  server/parsec/templates/__init__.py
  server/pyproject.toml
  server/tests/administration/test_create_organization.py
  server/tests/administration/test_create_sequester_service.py
  server/tests/administration/test_revoke_sequester_service.py
  server/tests/api_v5/authenticated/test_realm_rotate_key.py
  server/tests/api_v5/authenticated/test_realm_share.py
  server/tests/api_v5/authenticated/test_realm_unshare.py
  server/tests/api_v5/authenticated/test_user_revoke.py
  server/tests/api_v5/authenticated/test_vlob_read_versions.py
  server/tests/cli/test_run.py
  server/tests/common/backend.py
  server/tests/common/client.py
  server/tests/common/data.py
  server/tests/common/patch_httpx.py
  server/tests/common/postgresql.py
  server/tests/conftest.py
  server/tests/realm_export/test_export.py
  server/tests/test_migrations.py
  server/tests/test_sequester.py
Labels: I-Python

#10565 feat(server): Add CLI to manually generate email
  server/parsec/cli/__init__.py
  server/parsec/cli/mail_templates.py
Labels: I-Python, A-Server, I-CLI

#10597 refactor(email-templates): Move template to `email` folder
  server/parsec/components/account.py
  server/parsec/components/invite.py
  server/parsec/templates/email/account_deletion.html.j2
  server/parsec/templates/email/account_deletion.txt.j2
  server/parsec/templates/email/account_validation.html.j2
  server/parsec/templates/email/account_validation.txt.j2
  server/parsec/templates/email/invitation.html.j2
  server/parsec/templates/email/invitation.txt.j2
Labels: I-Python, A-Server, refactor

#10630 chore(lib-client-conn): Remove deps `reqwest-eventsource`
  Cargo.lock
  Cargo.toml
  libparsec/crates/client_connection/Cargo.toml
Labels: I-Dependency, I-Rust, A-Client, refactor
