Repository Scille/parsec-cloud, pull requests merged in 2025-04, with the labels that each got.

#9833 Add account protocol families.
  .github/workflows/ci-rust.yml
  .github/workflows/ci-web.yml
  libparsec/crates/client_connection/src/anonymous_account_cmds.rs
  libparsec/crates/client_connection/src/authenticated_account_cmds.rs
  libparsec/crates/client_connection/src/lib.rs
  libparsec/crates/client_connection/src/testbed.rs
  libparsec/crates/client_connection/tests/unit/anonymous_account.rs
  libparsec/crates/client_connection/tests/unit/authenticated_account.rs
  libparsec/crates/protocol/schema/anonymous_account_cmds/ping.json5
  libparsec/crates/protocol/schema/authenticated_account_cmds/ping.json5
  libparsec/crates/protocol/src/lib.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/ping.rs
  libparsec/crates/protocol/tests/authenticated_account_cmds/v5/ping.rs
  libparsec/crates/protocol/tests/serialization.rs
  libparsec/crates/types/src/addr.rs
  libparsec/crates/types/src/protocol.rs
  misc/versions.toml
  server/packaging/testbed-server/README.md
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/protocol/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/ping.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/authenticated_account_cmds/v5/ping.pyi
  server/parsec/api.py
  server/parsec/asgi/rpc.py
  server/parsec/backend.py
  server/parsec/cli/testbed.py
  server/parsec/client_context.py
  server/parsec/components/account.py
  server/parsec/components/auth.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/auth.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/memory/factory.py
  server/parsec/components/ping.py
  server/parsec/components/postgresql/account.py
  server/parsec/components/postgresql/factory.py
  server/src/protocol.rs
  server/tests/api_v5/__init__.py
  server/tests/api_v5/anonymous_account/__init__.py
  server/tests/api_v5/anonymous_account/test_ping.py
  server/tests/api_v5/authenticated/test_block_read.py
  server/tests/api_v5/authenticated_account/__init__.py
  server/tests/api_v5/authenticated_account/test_ping.py
  server/tests/common/client.py
  server/tests/common/data.py
  server/tests/common/rpc.py
Labels: I-Python, I-Rust, A-Client, I-API, A-Server

#10145 docs(rfc-1013): Add 2 new elements for things to do later
  docs/rfcs/1013-parsec-account.md
Labels: A-Docs

#10144 ci(build-testbed): Ignore `.md` file change
  .github/workflows/docker-testbed.yml
Labels: enhancement, I-CICD, I-Docker

#10174 [account] Implement `account_send_email_validation_token` route.
  docs/rfcs/1013-parsec-account.md
  libparsec/crates/protocol/schema/anonymous_account_cmds/account_send_email_vaidation_token.json5
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/account_send_email_validation_token.rs
  libparsec/crates/protocol/tests/anonymous_account_cmds/v5/ping.rs
  libparsec/crates/serialization_format/src/protocol_python_bindings.rs
  libparsec/crates/serialization_format/src/types.rs
  libparsec/crates/types/src/token.rs
  libparsec/crates/types/tests/unit/token.rs
  server/parsec/_parsec.pyi
  server/parsec/_parsec_pyi/ids.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/__init__.pyi
  server/parsec/_parsec_pyi/protocol/anonymous_account_cmds/v5/account_send_email_validation_token.pyi
  server/parsec/api.py
  server/parsec/backend.py
  server/parsec/components/account.py
  server/parsec/components/memory/account.py
  server/parsec/components/memory/datamodel.py
  server/parsec/components/postgresql/account.py
  server/src/lib.rs
  server/src/token.rs
  server/tests/api_v5/anonymous_account/__init__.py
  server/tests/api_v5/anonymous_account/test_account_send_email_validation.py
  server/tests/api_v5/anonymous_account/test_ping.py
  server/tests/api_v5/authenticated_account/test_ping.py
  server/tests/common/rpc.py
  server/tests/conftest.py
Labels: A-Server, C-Parsec-Account
