Repository Scille/parsec-cloud, pull requests merged in 2025-09, with the labels that each got.

#10816 ci(rust): Run `cargo-deny` check with all features
  .github/workflows/ci-rust.yml
Labels: I-CICD, I-Dependency, I-Rust

#11009 [MS] Fix settings list UI bug
  client/src/components/settings/SettingsList.vue
Labels: C-Bug

#11196 feat(pki): Add algorithm ID
  libparsec/crates/platform_pki/examples/decrypt_message.rs
  libparsec/crates/platform_pki/examples/encrypt_message.rs
  libparsec/crates/platform_pki/examples/sign_message.rs
  libparsec/crates/platform_pki/src/lib.rs
  libparsec/crates/platform_pki/src/windows/mod.rs
Labels: I-Rust, A-Client, C-PKI
